<div class="login-page">
    <div class="form">

        <div class="wordmark">
            <h1 style="margin-bottom:0;"></h1>
        </div>

        <div class="subtitle">
            <div>See innovation happening in topics and causes you care about</div>
        </div>


      <form class="register-form" action="POST">
        <input type="text" id="name" name="name" placeholder="Full Name"/>
        <input type="email" id="email" name="email" placeholder="Email"/>
        <input type="password" id="password" name="password" placeholder="Password"/>
        <button>Sign Up</button>
        <p class="message">By signing up, you agree to our Terms, Data Policy and Cookies Policy.</p>
      </form>



      <form class="login-form" action="GET" style="border: 1px solid rgb(38, 38, 38);">
        <input type="email" placeholder="Phone number, username, or email"/>
        <input type="password" placeholder="password"/>
        <button>login</button>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>


    </div>
</div>

<div class="login">
    <p>Have an account? <a href="../logins">Log in</a></p>
</div>

<div class="footer">
    <p><a href="../../frosty_menu-2020-05-12/added_5-13-2020/index.html">Home</a></p>
    <p><a href="../../frosty_menu-2020-05-12/added_5-13-2020/index.html">About Us</a></p>
    <p><a href="#">Blog</a></p>
    <p><a href="#">Help</a></p>
    <p><a href="#">Careers</a></p>
</div>