<div class="login-page">
    <div class="form">

        <div class="wordmark">
            <h1 style="margin-bottom:0;"></h1>
        </div>

        <div class="subtitle">
            <div>See innovation happening in topics and causes you care about</div>
        </div>


      <form class="register-form" action="/register" method="POST">
        <input type="text" id="name" name="name" required placeholder="Full Name"/>
        <input type="email" id="email" name="email" required placeholder="Email"/>
        <input type="password" id="password" name="password" required placeholder="Password"/>
        <button type="submit">Register</button>
        <p class="message">By signing up, you agree to our Terms, Data Policy and Cookies Policy.</p>
      </form>

    </div>
</div>

<div class="login">
    <p>Have an account? <a href="../login">Log in</a></p>
</div>

<div class="footer">
    <p><a href="../../frosty_menu-2020-05-12/added_5-13-2020/index.html">Home</a></p>
    <p><a href="../../frosty_menu-2020-05-12/added_5-13-2020/index.html">About Us</a></p>
    <p><a href="#">Blog</a></p>
    <p><a href="#">Help</a></p>
    <p><a href="#">Careers</a></p>
</div>