body{
    background:rgb(250, 250, 250);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color: rgb(38, 38, 38);
   }
   
   .signup-page, .login, .login-page {
       width: 350px;
       overflow:hidden;
       border: 1px solid rgb(219, 219, 219);
       background:rgb(250, 250, 250);
       background: rgb(255, 255, 255);
       margin:auto;
       box-sizing: border-box;
       margin-bottom: 0.75rem;
       margin-top: 0.75rem;
   }
   
   .signup-page, .login-page{
       margin-top: 3rem;
   }
   
   .login p{
       font-size: 14px;
       box-sizing: border-box;
       line-height: 18px;
       padding: 11px 0;
       color: rgb(38, 38, 38);
   }
   
   .login a{
       color: rgb(0, 149, 246);
       text-decoration: none;
   }
   
   .form{
       /*border:1px solid red;*/
       width: 268px;
       margin:auto;
   }

   .line {
    overflow: hidden;
    text-align: center;
    }
    .line:before,
    .line:after {
        background-color: rgb(219, 219, 219);
        content: "";
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    .line:before {
        right: 0.5em;
        margin-left: -50%;
    }
    .line:after {
        left: 0.5em;
        margin-right: -50%;
    }

    .line {
        margin-top:0;
        margin-bottom: 1rem;
    }
    
   .wordmark h1{
       height:51px;
       width: 175px;
       line-height: 51px;
       background-image: url("../logo/pn-ribbitwise-logo-black.png");
       background-size: contain;
       background-repeat: no-repeat;
       margin:auto;
       background-position-y:center;
       margin-top:2rem;
       margin-bottom: 2rem;
   }
   
   .subtitle{
       color: rgb(142, 142, 142);
       font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
       font-weight: 600;
       box-sizing: border-box;
       font-size: 1rem;
       line-height: 1.25rem;
       text-align: center;
       margin:1.5rem 2px;
   }
   
   .register-form > input:nth-child(3){
       margin-bottom: 1rem;
   }
   
   .register-form > :last-child{
       margin-bottom: 3rem;
   }
   
   input, button {
       width:268px;
       height:38px;
       border: 1px solid rgb(38, 38, 38);
       line-height: 21px;
       padding: 9px 0 7px 8px;
       color: rgb(38, 38, 38);
       margin-bottom:6px;
       box-sizing: border-box;
       border-radius: 2px;
       background:rgb(250, 250, 250);
       border: 1px solid rgb(219, 219, 219);
   }
   
   form input {
       border-style:solid;
       -webkit-appearance: none;
   }

   
   
   .login-form{
       display:none;
   }
   
   button { 
       height: 19px;
       line-height: 19px;
       padding: 6px 0;
       box-sizing: unset;
       font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
       background-image: linear-gradient(to right, #005eb8,rgb(45, 192, 45) );
       color: rgb(255, 255, 255);
       font-weight: 600;
       border-radius: 4px;
       border:none;
       cursor: pointer;
       margin-bottom:0.5rem !important;
   }
   
   p {
       font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
       font-size: .75rem;
       font-weight: 400;
       color:rgb(142, 142, 142);
       text-align: center;
       padding: 0 6px;
   }

   .terms a{
       text-decoration: none;
       color:rgb(142, 142, 142);
       font-weight: 600;
   }

   p .sideline{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    border:1px solid red !important;
   }

  
   p .sideline span{
    background:#fff; 
    padding:0 10px; 
   }
   
   
   .footer {
       margin:auto;
       text-align:center;
   }
   
   .footer a{
       text-decoration: none;
       color: rgb(0, 149, 246);
   }
   
   .footer p {
       display:inline;
   }

   input[type=password]{
       margin-bottom:1rem;
   }

   .login-page {
       padding-bottom: 2rem;
   }